################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug/News Managment System.exe
/x64/Debug/News Managment System.pdb
